.footer
  a(href="/")
    span Site by 
  a(target="_blank",href="https://hexo.io/zh-cn")  Hexo 
  span &
  a(target="_blank",href="https://github.com/Ben02/hexo-theme-Anatole")  Ben
  .by_farbox
    a(href="http://t.hais.pw", target="_blank") 优惠券
